.home-contain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-contain-container-1 {
  width: 80%;
  max-width: 1040px;
}
.hr-line {
  width: 100%;
  height: 0px;
  border: 0.5px solid #c6c6c8;
}
@media screen and (min-width: 767px) {
  .hr-line {
    display: none;
  }
}

.post-container-1 {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .post-container-1 {
    min-height: 400px;
  }
}
.post-list-item-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  text-align: center;
}

.post-container-1 {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .post-container-1 {
    min-height: 400px;
  }
}
.post-list-item-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  text-align: center;
}
