.home-contain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-contain-container-1 {
  width: 80%;
  max-width: 1040px;
}
.hr-line {
  width: 100%;
  height: 0px;
  border: 0.5px solid #c6c6c8;
}
@media screen and (min-width: 767px) {
  .hr-line {
    display: none;
  }
}

.post-container-1 {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .post-container-1 {
    min-height: 400px;
  }
}
.post-list-item-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  text-align: center;
}

.post-container-1 {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .post-container-1 {
    min-height: 400px;
  }
}
.post-list-item-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  text-align: center;
}
.search-result-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #262626;
  width: 90%;
  max-width: 1040px;
}
@media screen and (max-width: 767px) {
  .search-result-heading {
    display: none;
  }
}
.search-not-found-image {
  width: 350px;
  height: 250px;
}
@media screen and (max-width: 767px) {
  .search-not-found-image {
    width: 186px;
    height: 133px;
  }
}
.search-not-found-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #262626;
}
@media screen and (max-width: 767px) {
  .search-not-found-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #262626;
  }
}
.search-not-found-error-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
}
@media screen and (max-width: 767px) {
  .search-not-found-error-msg {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #989898;
  }
}
