.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 95%;
  max-width: 1040px;
  margin-top: 10px;
  padding-left: 0px;
}

.logo-image {
  margin: 0px 10px;
  height: 60px;
  width: 60px;
  border-radius: 80px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-item {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.image-story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid #e20337;
  border-radius: 40px;
}
.error-icon {
  color: #4094ef;
  width: 44px;
  height: 38px;
}
.error-msg-view {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.try-again-btn {
  padding: 8px 24px;
  gap: 8px;
  width: 102px;
  height: 32px;
  background: #4094ef;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  outline: none;
}
